html {
  box-sizing: border-box;
  moz-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

.msn-logo {
  width: 10px;
  margin-top, margin-left: 2em;
}

body {
  margin: 0;
  background-color: #d7e0f0;
}
