html {
  box-sizing: border-box;
  moz-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #d7e0f0;
}

header {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.msn-logo {
  width: 80px;
}

.msn-icon {
  width: 175px;
  padding-top: 30px;
}

.form {
  padding: 55px;
  max-width: 300px;
  margin: 10px auto;
}

.account {
  padding-right: 10px;
}

.button-block {
  display:block;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px;
  font-size:1rem;
  color: blue;
  text-decoration: underline;
  }

  .field-wrap {
  margin-bottom: 20px;
}

footer {
  text-decoration: underline;
  padding-left: 1em;
}

p, label {
  color: blue;
}

