html {
  box-sizing: border-box;
  moz-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #d7e0f0;
}

header {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.msn-logo {
  width: 80px;
}

.msn-icon {
  width: 175px;
  padding-top: 70px;
}

.form {
  padding: 40px;
  max-width:600px;
  margin:40px auto;

}

.button-block {
  display:block;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px;
  font-size:1rem;
  color: blue;
  text-decoration: underline;
  }

  .field-wrap {
  position:relative;
  margin-bottom:40px;
}

footer {
  color: blue;
  text-decoration: underline;
  padding-left: 1em;
}

